@charset "UTF-8";
.container {
  display: grid;
  grid-template-columns:200px 200px 200px 200px;
  grid-template-rows:200px 200px;
  grid-gap:10 px;
}
.item {
  background: #bb0;
  color: #0ff;
  margin: 15px;
  padding: 15px;
}